body
  background-image: url('../img/V5_logo.png'), url('../img/chip_bg.png'), linear-gradient(135deg, rgba(250,0,0,1) 0%, rgba(250,93,0,1) 10%, rgba(255,212,1,1) 20%, rgba(64,255,1,1) 30%, rgba(1,255,229,1) 40%,  rgba(0,124,255,1) 50%, rgba(2,2,248,1) 60%, rgba(61,0,254,1) 70%, rgba(255,0,244,1) 80%, rgba(255,0,188,1) 90%)
  background-position: 50% 50%, center center, center center
  background-repeat: no-repeat, repeat, repeat
  color: white
  text-align: center
  height: 100%
  width: 100%
  overflow: hidden
  font-family: chickenscratch, sans-serif
  text-decoration: none
  text-transform: uppercase
  text-shadow: -4px -4px black

a
  color: white
  text-decoration: none

a:hover
  transform: scale(1.1)
  color: black
  text-shadow: -2px -2px white
  text-decoration: underline double red

.zoomity
  max-width: 66.6%
  height: auto
  padding-left: 2.5%
  padding-right: 2.5%

.zoomity:hover
  transform: scale(1.1)

.icon
  max-width: 17.5%
  padding: 1%
  height: auto

.icon:hover
  transform: scale(1.2)

.catTtl
  position: absolute
  margin-top: -12.5%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  font-size: 2vw

.catBox
  position: absolute
  width: 17.5%
  height: 17.5%
  line-height: 1.1
  margin-left: auto
  margin-right: auto
  background-size: contain
  background-position: center
  background-repeat: no-repeat
  background-clip: content-box

.catBox.One
  background-image: url('../img/BoxBorder_Red.png')

.catBox.Two
  background-image: url('../img/BoxBorder_Blue.png')

.icoBox
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  top: 50%
  transform: translateY(-50%)

.bkdpText
  background: rgba(85,93,80,0.3)
  line-height: 1
  border-radius: 10px

#social
  left: 5%
  top: 20%

#media
  left: 77.5%
  top: 20%

#other
  left: 5%
  top: 62.5%

#misc
  left: 77.5%
  top: 62.5%

#banner
  position: absolute
  top: 5%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  font-size: 2.5vw
  background: rgba(175,50,50,0.3)
  border-top: 4px solid white
  border-bottom: 4px solid white

#centerP
  position: absolute
  top: 55%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  font-size: 5.5vw

#subText
  position: absolute
  top: 67.5%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  font-size: 2.5vw

#navbar
  display: none
  position: absolute
  top: 55%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0

#signup
  position: absolute
  top: 87.5%
  width: 50%
  height: 10%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  background-image: url('../img/chip_bg.png'), linear-gradient(90deg, rgba(1,115,239,1) 0%, rgba(193,1,216,1) 50%, rgba(255,4,0,1) 0%)
  border: 2px solid white
  border-radius: 10px
  font-size: 1.5vw
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black

#bonusBox
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(85,93,80,0.75)

#bImgBox
  position: absolute
  top: 15%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0

#bImg
  max-width: 50%

#bText
  position: absolute
  top: 75%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  font-size: 5.5vw

#nlEmail
  position: absolute

  width: 36%
  height: 25%
  top: 50%
  left: 5%
  padding: 0 0.5% 0 0.5%
  font-size: 1vw
  border-radius: 10px
  text-align: center

#nlLabel
  position: absolute
  padding-top: 1%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  font-size: 1.75vw

#nlSubmit
  position: absolute
  width: 40%
  height: 33%
  top: 50%
  left: 55%
  padding: 0 0.5% 0 0.5%
  border-radius: 10px
  background-color: #000000
  border: 1px solid #999999
  border-bottom: 1px solid #333333
  color: white
  font-family: chickenscratch, sans-serif
  font-size: 1.33vw
  text-decoration: none
  text-transform: uppercase
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black
  text-align: center

#nlSubmit:hover
  background-color: #333333
  border: 1px solid #111111
  cursor: pointer

#nlSubmit.active
  border: 1px solid #111111
