body{
  text-shadow: 2px 2px black;
}

.zoomity{
  max-width: 12.5%;
  height: auto;
  padding-left: 2%;
  padding-right: 2%;
}

#centerP{
  top: 55%;
}

#subText{
  top: 67.5%;
}

#signup{
  width: 66%;
}


